.rockets {
  margin: 0 auto;
  width: 1200px;
}

.rocket-title {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.rocket-title h1 {
  font-weight: 400;
}

.rocket-title h1::after {
  content: '';
  border: 2px solid #333;
  display: block;
  margin: 5px auto;
  border-radius: 10%;
}

.rocket-cards {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  row-gap: 20px;
  background: #fcfaf8;
  column-gap: 5px;
  display: flex;
  flex-wrap: wrap;
}

.rocket-card {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 300px;
  padding: 15px;
  height: auto;
  border: 2px solid;
}

.rocket-card-img img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .rockets {
    width: 100%;
  }
}
