.scroll-btn {
  position: relative;
}

.scroll-btn button {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  border: none;
  color: #5aaeb0;
  padding: 20px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.down button {
  top: -90px;
  right: 15px;
  margin-bottom: 500px;
}

.down button:hover {
  transform: translateY(-20px);
}

.top button:hover {
  transform: translateY(20px);
}

@media (min-width: 481px) and (max-width: 767px) {
  .top button {
    top: -20px;
  }
  .down button {
    top: -70px;
    right: 15px;
    margin-bottom: 500px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .top button {
    top: -20px;
  }
  .down button {
    top: -70px;
    right: 15px;
    margin-bottom: 500px;
  }
}
