.scroll-btn {
  position: relative;
}

.scroll-btn button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #5aaeb0;
  border: none;
  color: #fff;
  padding: 20px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.down button {
  top: -90px;
  right: 15px;
  margin-bottom: 500px;
}

.down button:hover {
  transform: translateY(-20px);
}

.top button:hover {
  transform: translateY(20px);
}
