.image-slider {
  height: 500px;
  width: auto;
  border-radius: 10px;
}
.images-inner {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 15px;
  animation: fadeIn 1s linear;
}

.images-inner .left {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
}

.images-inner .center {
  flex: 90%;
  height: 100%;
}

.images-inner .right {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
}

.images-inner .fas {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.hide {
  display: none;
}
