.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 10, 0.1), rgba(4, 5, 20, 0.4)),
    url(../../images/50906488116_c44db82fc1_k.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  padding: 2% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  animation: fadeinout 2s linear;
}

nav img {
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 300px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.context-text {
  width: 60%;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.context-text h1 {
  font-size: 60px;
  font-weight: 300;
}

.context-text p {
  width: 50%;
  margin: 15px auto;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

nav .fas {
  display: none;
}

/* Features */
.features {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}

.features h1 {
  font-weight: 700;
}

.features p {
  width: 70%;
  margin: auto;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.feature-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.feature-col {
  flex-basis: 30%;
  background: #fee2e2;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.feature-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.feature-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    padding: 0em;
    display: flex;
    flex-direction: column;
  }

  nav img {
    display: block;
  }

  .nav-links {
    margin: 10px;
    row-gap: 10px;
    padding: 5px;
  }

  .context-text {
    width: 100%;
  }

  .context-text h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .context-text p {
    width: 90%;
    margin: 10px auto;
    font-weight: 300;
  }

  .features {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 0px;
  }

  .features p {
    width: 80%;
    margin: 10px auto;
    line-height: 25px;
  }

  .feature-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}

/*  Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 768px) {
  nav {
    padding: 2% 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: fadeinout 2s linear;
  }

  nav img {
    display: block;
  }

  .nav-links {
    margin: 10px;
    row-gap: 10px;
    padding: 5px;
  }

  .context-text {
    width: 100%;
  }

  .features {
    padding: 0px;
    width: 100%;
  }

  .features p {
    width: 80%;
    margin: 10px auto;
    line-height: 25px;
  }

  .feature-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
