.launch-page {
  margin: 50px auto;
  width: 1024px;
}

.launch-name {
  text-align: center;
}

.launch-title-name {
  border-radius: 20px;
  text-transform: capitalize;
  display: flex;
  line-height: 30px;
  background-color: #fff;
  margin: 15px;
  column-gap: 30px;
  padding: 10px;
  box-shadow: 8px 5px 20px #d1d5db;
}

.img-container {
  flex: 5%;
}

.info-conatiner {
  flex: 5%;
}
.launch-title-name h1 {
  text-align: center;
  font-weight: 500;
}

.launch-title-name tr td:nth-child(odd) {
  font-size: 20px;
  font-weight: 400;
  width: 200px;
}

.launch-rocket-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.launch-rocket-info > div,
.launch-deatils > div {
  background-color: #fff;
  text-transform: capitalize;
  width: 100%;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 8px 5px 20px #d1d5db;
}
.launch-rocket-info > div h1 {
  text-align: center;
  padding: 5px;
}

.launch-rocket-info table {
  border-spacing: 15px;
}

.launch-rocket-info table td {
  padding: 5px;
}

.launch-deatils {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.launch-deatils > div {
  height: 150px;
}

.launch-deatils > div h1,
.launch-social-links h1 {
  text-align: center;
}

.launch-deatils table {
  border-spacing: 15px;
}

.launch-social-links {
  background-color: #fff;
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 8px 5px 20px #d1d5db;
}

.launch-social-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.launch-social-links a {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.launch-social-links img {
  width: 35px;
  margin: 10px;
  transition: all 0.5s;
}

.launch-social-links img:hover {
  transform: scale(1.3);
  border-radius: 50%;
}
.launch-page hr {
  width: 50px;
  height: 2px;
  background-color: #334;
  border-radius: 10px;
  margin: 0 auto;
}

@media (min-width: 481px) and (max-width: 767px) {
  .launch-rocket-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .launch-rocket-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
