.history {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  background: #fcfaf8;
}

.history-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.history-title h1 {
  font-weight: 400;
}

.history-title h1::after {
  content: '';
  border: 2px solid #333;
  display: block;
  margin: 5px auto;
  border-radius: 10%;
}

.historical-events {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  row-gap: 20px;
  background: #fcfaf8;
  column-gap: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.history-event {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  width: 250px;
  padding: 15px;
  height: 400px;
  border: 2px solid;
}

article {
  display: flex;
  flex-direction: column;
}

.artical-top {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
}

.tag {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px;
}

.article-desc h1 {
  font-size: 30px;
  margin: 0px;
  padding: 10px;
  text-align: left;
}

.article-desc p {
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.artical-detail {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

article h3 {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.article-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  column-gap: 30px;
}

i .far .fab {
  font-size: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 5px;
  padding: 8px;
}

button {
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .history {
    margin: auto;
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .history {
    margin: auto;
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 950px) {
  .history {
    margin: auto;
    width: 100%;
    height: 100vh;
  }
}
