.history {
  margin: 0px auto;
  max-width: 1024px;
  animation: fadeinout 1.5s linear;
}

.history-title {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.history-title h1 {
  font-weight: 400;
}

.history-title h1::after {
  content: '';
  border: 2px solid #333;
  display: block;
  margin: 5px auto;
  border-radius: 10%;
}

.timeline-section {
  min-height: 100vh;
  padding: 100px 15px;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #333;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #5aaeb0;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10;
}
.timeline-date {
  font-size: 25px;
  color: #333;
}
.timeline-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.timeline-content h3 {
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
}

.timeline-content p {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.timeline-content img {
  width: 35px;
  margin: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .timeline-section {
    min-height: 0vh;
    padding: 20px;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-content {
    background-color: #fff;
    border-radius: 10px;
  }

  .timeline-content p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }

  .timeline-dot {
    left: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .timeline-section {
    min-height: 0vh;
    padding: 20px;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }
}
