@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

html {
  background-color: #f9f9fb;
}

a {
  text-decoration: none;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #333;
}

.btn-secondary {
  display: inline-block;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 12px 32px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.btn-secondary:hover {
  border: 1px solid #333;
  background: #fafafa;
  color: #333;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
}
