.rocket-page {
  margin: 100px auto;
  width: 1024px;
  animation: fadeinout 2s linear;
}

.box {
  border-radius: 20px;
  line-height: 30px;
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  box-shadow: 8px 5px 20px #d1d5db;
}

.rocket-details p {
  margin: 10px;
}

.rocket-details-top {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rocket-overview {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
}

.rocket-overview > div,
.rocket-engine > div,
.rocket-stages > div {
  border-radius: 20px;
  text-transform: capitalize;
  line-height: 30px;
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  width: 300px;
  box-shadow: 8px 5px 20px #d1d5db;
}

.rocket-overview > div h1,
.rocket-engine > div h1,
.rocket-stages > div h1 {
  text-align: center;
}

.rocket-page hr {
  width: 50px;
  height: 2px;
  background-color: #5aaeb0;
  border-radius: 10px;
  margin: 2px auto;
}

.rocket-overview table,
.rocket-engine table,
.rocket-stages table {
  border-spacing: 10px;
}

.rocket-overview table td,
.rocket-engine table td,
.rocket-stages table td {
  padding: 5px;
}

.rocket-engine {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
}

.rocket-engine > div,
.rocket-stages > div {
  width: 100%;
}

.rocket-stages {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
}

@media (min-width: 481px) and (max-width: 767px) {
  .rocket-page {
    margin: 50px auto;
    width: 100%;
  }

  .rocket-overview {
    flex-direction: column;
    margin: auto;
  }

  .rocket-overview > div {
    width: auto;
  }

  .rocket-engine {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
  }

  .rocket-stages {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .rocket-page {
    margin: 50px auto;
    width: 100%;
  }

  .rocket-overview {
    flex-direction: column;
    margin: auto;
  }

  .rocket-overview > div {
    width: auto;
  }

  .rocket-engine {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
  }

  .rocket-stages {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
  }
}
