.launch {
  margin: 0 auto;
  width: 1024px;
  background-color: #f9f9fb;
}

.launch-title {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.launch-title h1 {
  font-weight: 400;
}

.launch-title h1::after {
  content: '';
  border: 2px solid #333;
  display: block;
  margin: 5px auto;
  border-radius: 10%;
}

.launch-cards {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  row-gap: 20px;
  background: #f9f9fb;
  column-gap: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  animation: fadeinout 2s linear;
}

.launch-search {
  margin: 10px;
  padding: 5px;
}

.launch-search input {
  border: none;
  height: 30px;
  margin-left: 0px;
  width: 50px;
  padding: 10px;
  border-bottom: 2px solid #3333;
  transition: all 0.5s;
}

.launch-search input[type='text'] {
  padding-left: 40px;
}

.launch-search input:focus {
  outline: none;
  border-bottom: 2px solid #5aaeb0;
  width: 300px;
}

.launch-search i {
  position: absolute;
  top: 110px;
  left: 60px;
  font-size: 20px;
}

.launch-card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
}

.launch-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.launch-card-top h1 {
  font-size: 30px;
  margin: 15px;
  font-weight: 300;
}

.launch-card-top span {
  font-size: 20px;
  margin: 15px;
}

.launch-details h2 {
  margin: 15px;
  font-weight: 500;
}

.launch-details p {
  margin: 15px;
}

.launch-btn {
  font-size: 16px;
  margin: 15px;
  border: none;
  background-color: #5aaeb0;
  color: #fff;
  border-radius: 5px;
}

.launch-btn i {
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
}

.launch-btn:hover {
  outline: none;
  background-color: #f1f3f5;
  border: none;
}

.pagination {
  display: flex;
  margin: 20px;
  padding: 15px;
  height: 50px;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  cursor: pointer;
}

.pagination a {
  border: 0px solid #ccc;
  padding: rem-calc(10);
  border-radius: 10px;
  color: #5aaeb0;
}

.active {
  color: #333;
}

@media (min-width: 481px) and (max-width: 768px) {
  .launch-search input {
    border: none;
    height: 30px;
    margin-right: 10px;
    width: 50px;
    padding: 10px;
    border-bottom: 2px solid #3333;
    transition: all 0.5s;
  }

  .launch-search input[type='text'] {
    padding-left: 70px;
  }

  .launch-search i {
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .launch-search input {
    border: none;
    height: 30px;
    margin-right: 10px;
    width: 50px;
    padding: 10px;
    border-bottom: 2px solid #3333;
    transition: all 0.5s;
  }

  .launch-search input[type='text'] {
    padding-left: 70px;
  }

  .launch-search i {
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: 20px;
  }

  .launch-search input:focus {
    outline: none;
    border-bottom: 2px solid #5aaeb0;
    width: calc(50% + 30px);
  }

  .launch {
    width: 100%;
  }
}
