.launch {
  margin: 0 auto;
  width: 1024px;
  background-color: #f9f9fb;
}

.launch-title {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.launch-title h1 {
  font-weight: 400;
}

.launch-title h1::after {
  content: '';
  border: 2px solid #333;
  display: block;
  margin: 5px auto;
  border-radius: 10%;
}

.launch-cards {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  row-gap: 20px;
  background: #f9f9fb;
  column-gap: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.launch-card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
}

.launch-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.launch-card-top h1 {
  font-size: 30px;
  margin: 15px;
  font-weight: 300;
}

.launch-card-top span {
  font-size: 20px;
  margin: 10px;
}

.launch-details h2 {
  margin: 10px;
  font-weight: 500;
}

.launch-details p {
  margin: 10px;
}

.launch-btn {
  font-size: 16px;
  margin: 15px;
  border: none;
  background-color: #5aaeb0;
  color: #fff;
  border-radius: 5px;
}

.launch-btn i {
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
}

.launch-btn:hover {
  outline: none;
  background-color: #f1f3f5;
  border: none;
}

.pagination {
  display: flex;
  margin: 20px;
  padding: 15px;
  height: 50px;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  cursor: pointer;
}

.pagination a {
  border: 0px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  color: #5aaeb0;
}

@media screen and (max-width: 480px) {
  .launch {
    width: 100%;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    color: #fff;
    list-style: none;
    justify-content: center;
    cursor: pointer;
  }

  .pagination li span {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    color: #333;
  }
}
